@model ByteCore.Web.Models.UserModel
@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-5">
    <div class="container px-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder">User Dashboard</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow rounded-4 mb-4">
                    <div class="card-body text-center">
                        <h5 class="fw-bolder">@Model.Name</h5>
                        <p>Email: @Model.Email</p>
                        <a href="@Url.Action("Manage", "Account")" class="btn btn-primary">Manage Account</a>
                        <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="fw-bolder">My Courses</h3>
                @if (Model.EnrolledCourses != null && Model.EnrolledCourses.Any())
                {
                    <div class="list-group">
                        @foreach (var course in Model.EnrolledCourses)
                        {
                            <a href="@Url.Action("Course", "Courses", new { id = course.Id })" class="list-group-item list-group-item-action">
                                <h5 class="fw-bolder">@course.Title</h5>
                                <p>@course.ShortDescription</p>
                            </a>
                        }
                    </div>
                }
                else
                {
                    <p>You are not enrolled in any courses.</p>
                }
            </div>
        </div>
    </div>
</section>