@model ByteCore.Web.Models.CourseRoadmapModel

@{
    ViewBag.Title = $"{Model.Course.Title} Roadmap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Roadmap for: @Model.Course.Title</span></h1>
        </div>

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h2 class="fw-bolder">Course Modules</h2>
                            <ul>
                                @foreach (var module in Model.Modules)
                                {
                                    <li>
                                        <strong>@module.Title</strong>
                                        <ul>
                                            @foreach (var topic in module.Topics)
                                            {
                                                <li>
                                                    <strong>@topic.Title</strong>
                                                    <ul>
                                                        @foreach (var lesson in topic.Lessons)
                                                        {
                                                            <li>@lesson</li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                        <img class="img-fluid" src="@Model.Course.ImageUrl" alt="@Model.Course.Title" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
